:root {
    --Wedding-Colors-Primary: #C6754D;
    --Wedding-Colors-Primary-Lighten: #F0CCBB;
    --Neutral-Background: #FCF9F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .story {
    width: 100vw;
} */


/*********** beginning of the nav bar styling **********/
nav {
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
}

.nav-item1 {
    display: flex;
    align-items: center;
    gap: 0.5625rem;
}

.nav-item1 img {
    width: 1.08763rem;
    height: 1.66775rem;
}

.nav-item1 p {
    color: var(--Wedding-Colors-Primary);
    font-family: 'Montaga';
    font-size: 2.0625rem;
}

.nav-item2 {
    display: flex;
    align-items: flex-start;
}

.nav-item2 a {
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    color: #000;
    font-family: 'Montaga';
    font-size: 1.375rem;
    line-height: 2rem;
}
/*********** end of the nav bar styling **********/


/*********** section 1 styling begins here **********/
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Wedding-Colors-Primary-Lighten);
    margin: 1.3rem 0;
    padding: 2rem;
}

.i-do {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: -18rem;
}

.item > .item1 {
    width: 45rem;
    font-family: 'Montaga';
    font-size: 5rem;
}

.item > .item2 {
    width: 40rem;
    color: #231F20;
    font-family: 'Montaga';
    font-size: 1.5rem;
    line-height: 2;
}

.frame {
    margin: -18rem 0 0 -4rem;
}

.frame img:first-child {
    position: absolute;
}

.frame img:last-child {
    position: relative;
    bottom: -20rem;
    right: -15rem;
}
/*********** end of the section 1 styling **********/


/*********** beginning of section 2 styling **********/
.section-2 {
    padding-bottom: 1.5rem;
}

.section-2a {
    display: flex;
    padding: 4rem 5.5rem;
    gap: 4rem;
}

.section-2a > .time,
.place {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.section-2a > .time h1,
.place h1 {
    color: #231F20;
    font-family: Montaga;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
}

.section-2a p {
    color: #231F20;
    font-family: Montaga;
    font-size: 1.125rem;
    line-height: 2;
}

.time p > em,
.place p > em {
    opacity: 0.8;
    color: #440404;
    font-family: Montaga;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2;
}

.section-2b {
    display: flex;
    padding: 4rem 5.5rem;
}

.section-2b > .canvas2 {
    display: flex;
    height: 14rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    background: #C6754D;
    position: relative;
    left: -8.8rem;
    bottom: -9rem;
}

.canvas2 h3 {
    align-self: stretch;
    color: #FFF;
    font-family: Montaga;
    font-size: 2.6875rem;
    line-height: 0.7;
    font-weight: 400;
}

.canvas2 p {
    align-self: stretch;
    color: #FFF;
    font-family: Montaga;
    font-size: 1.125rem;
    line-height: 2;
    opacity: 0.8;
    width: 35rem;
}

.section-2 {
    position: relative;
}

.section-2 .svg {
    position: absolute;
    color: #2B1105;
    right: 0;
    bottom: 10rem;
}


/* beginning of the train styling */
.train-container {
    height: 55rem;
    background: #97917A;
    position: relative;
}

.train-container > img {
    position: absolute;
    top: 0;
    color: #2B1105;
    left: 15rem;
}

.train-container h6 {
    color: var(--Neutral-Background);
    font-family: Montaga;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding-top: 5rem;
}

.groomsmen, .bridesmaid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.train h2 {
    color: var(--Neutral-Background);
    font-family: Montaga;
    font-size: 2.5rem;
    line-height: 2;
    font-weight: 400;
    text-align: center;
}

.groomsmen > div,
.bridesmaid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.train p {
    color: var(--Neutral-Background);
    font-family: Montaga;
    font-size: 1.2rem;
    line-height: 1;
} 


/* beginning of the footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.footer > p {
    font-family: Montaga;
    font-size: 1rem;
}

.footer p > a {
    color: #000;
}

.footer p > a:visited {
    color: #000;
} 

.footer p > a:active {
    color: #000;
}



/************** MEDIA QUERIES *****************/
@media screen and (max-width: 600px) {
    nav {
        padding: 1.3rem;
    }

    nav > .nav-item2 {
        display: none;
    }

    nav .hamburger {
        width: 2rem;
        display: flex;
        align-items: center;
    }

    .nav-item1 > img {
        width: 1rem;
        height: 1.3rem;
    }

    .nav-item1 > p {
        font-size: 1.5rem;
    }

    nav > i {
        display: flex;
        align-items: center;
    }

    .section-1, .section-2a,
    .section-2b {
        display: block;
    }
    
    .section-1 > .i-do {
        display: flex;
        flex-direction: column;
        height: 95vh;
    }

    .i-do > .item {
        margin: 2rem 0 0 0;
        gap: 1rem;
    }

    .i-do > .item > .item1 {
        font-size: 3rem;
        width: auto;
        padding-left: 1rem;
    }

    .i-do > .item > .item2 {
        font-size: 1.2rem;
        width: auto;
        align-items: center;
        padding-left: 1rem;
    }

    .i-do > .frame {
        margin: -3rem 4rem 0 -5rem;
    }

    .i-do > .frame img:first-child {
        width: 15rem;
    }

    .i-do > .frame img:last-child {
        width: 10rem;
        bottom: -10rem;
        right: -9rem;
    }

    .section-2 {
        padding-bottom: 0.5rem;
    }

    .section-2 > .mobile > img {
        width: 100vw;
    }

    .section-2 > .section-2a {
        padding: 2rem;
    }

    .section-2a > .time , .place {
        padding-bottom: 2rem;
    }

    .section-2 > .section-2a >
     .time > p, .section-2 >
      .section-2a .place > p {
        width: 18rem;
    }
    
    .section-2 > .section-2b {
        padding: 3rem;
        margin-top: 9rem;
    }

    .section-2 > .section-2b > .canvas1 > img {
        width: 20rem;
        margin-left: -0.5rem;
    }

    .section-2 > .section-2b >
    .canvas2 {
        left: 3rem;
        top: -7em;
        width: 19rem;
    }

    .section-2 .section-2b > .canvas2 > p {
        font-size: 0.8rem;
        width: 15rem;
    }

    .section-2 > .svg {
        bottom: 13rem;
        height: 9rem;
    }

    .train-container {
        padding-bottom: 2rem;
    }

    .train-container h6 {
        padding-top: 7rem;
    }

    .train-container > img {
        left: 2rem;
        height: 4rem;
    }

    .train > .groomsmen,  .bridesmaid {
        flex-direction: column;
    }

    .train > .groomsmen > div > img,
    .train > .bridesmaid > div > img {
        width: 80vw;
    }

    .train h2:first-of-type {
        margin-top: -2rem;
    }

    .train h2 {
        line-height: 3;
    }
}

@media screen and (max-width: 1200px) {
    nav > .hamburger {
        display: none;
    }

    .section-1 {
        margin: 0;
        padding: 0;
    }

    .i-do {
        height: 90vh;
    }

    .item {
        margin-left: -30rem;
    }

    .item > .item1 {
        font-size: 2.5rem;
        width: auto;
    }

    .item > .item2 {
        font-size: 1.2rem;
        width: 20rem;        
    }

    .frame {
        margin: -12rem -17rem 0 10rem;
    }

    .frame img:first-child {
        width: 22rem;
    }

    .frame img:last-child {
        bottom: -12rem;
        right: -14rem;
        width: 15rem;
    }

    .section-2 > .mobile {
        display: block;
    }

    .section-2a {
        padding: 4rem;
    }

    .section-2a > .time + .place {
        gap: 1;
    }
    

    .time p > em, .place p > em {
        font-size: 1rem;
    }

    .section-2b {
        position: relative;
        padding: 4rem;
    }

    .section-2b > .canvas1 > img {
        width: 36rem;
    }

    .section-2b > .canvas2 {
        position: absolute;
        left: 32em;
        top: 9em;
        height: 12rem;
        gap: 1rem;
    }
    
    .section-2b > .canvas2 > h3,
    .section-2a > .time > h1 ,
    .section-2a > .place > h1  {
        font-size: 2rem;
    }

    .section-2b > .canvas2 > p,
    .section-2a > .time > p ,
    .section-2a > .place > p {
        font-size: 1rem;
        width: 30rem;
    }

    .train-container {
        height: auto;
    }

    .groomsmen > div > img,
    .bridesmaid > div > img {
        width: 15rem;
    }
}

@media screen and (min-width: 1200px) {
    nav > .hamburger {
        display: none;
    }

    .section-2 > .mobile {
        display: none;
    }
}
